<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Paulus Guter - Ein Guter. Für Berlin.</title>
    <link rel="stylesheet" href="style.css" async />
    <link rel="icon" href="favicon.ico" type="image/vnd.microsoft.icon" />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org/",
        "@type": "Person",
        "name": "Paulus Guter",
        "url": "https://paulus-guter.de/",
        "image": "https://1guter.de/img/paulus-guter.webp",
        "sameAs": [
          "https://www.linkedin.com/in/paulus-guter/",
          "https://instagram.com/1guterpaulus/",
          "https://1guter.eu/",
          "https://1guter.de/"
        ],
        "jobTitle": "Engineer",
        "memberOf": [
          {
            "@type": "Organization",
            "name": "Die Grünen Kreisverband Erlangen Stadt",
            "location": "Erlangen",
            "memberOf": {
              "@type": "Organization",
              "name": "Die Grünen",
              "location": "Deutschland"
            }
          },
          {
            "@type": "Organization",
            "name": "Die Grünen Kreisverband Erlangen Land",
            "location": "Landkreis Erlangen",
            "memberOf": {
              "@type": "Organization",
              "name": "Die Grünen",
              "location": "Deutschland"
            }
          }
        ],
        "worksFor": {
          "@type": "Organization",
          "name": "FAU",
          "location": "Erlangen"
        }
      }
    </script>
    <meta
      name="description"
      content="Paulus Guter tritt für die Partei die Grünen in Erlangen zur Bundestagswahl 2025 an."
    />
    <meta property="og:title" content="Paulus Guter" />
    <meta
      property="og:description"
      content="Ein Guter. Für Berlin. Für Erlangen-Stadt & -Land. Lass uns gemeinsam eine nachhaltige Zukunft in Wohlstand gestalten."
    />
    <meta
      property="og:image"
      content="https://1guter.de/img/paulus-guter-og.webp"
    />
    <meta property="og:image:width" content="1500" />
    <meta property="og:image:height" content="1000" />
    <meta property="og:url" content="https://paulus-guter.de/" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
  </head>
  <body>
    <nav>
      <a href="https://paulus-guter.de/" class="logo" aria-label="Main Page">
        <img src="./img/logo-gruene-square.svg" alt="" />
      </a>
      <a href="https://paulus-guter.de/" class="title" aria-label="Main Page">Paulus Guter</a>
      <div class="slogan">
        <span>Ein Guter. Für Berlin.</span>
      </div>
    </nav>

    <main>
      <div class="content-wrapper">{{ content }}</div>
    </main>

    <footer>
      <div class="content-wrapper">
        <h1>
          Paulus Guter<br />
          <small>Ein Guter. Für Berlin.</small>
        </h1>

        <div class="row">
          <div>
            <h2>Links</h2>

            <div class="btn-group">
              <a class="btn" href="https://paulus-guter.de/impressum/" aria-label="Impressum">
                Impressum
              </a>

              <a
                class="btn"
                href="https://paulus-guter.de/datenschutz/"
                aria-label="Datenschutz"
              >
                Datenschutz
              </a>
            </div>
          </div>
        </div>

        <div class="logo">
          <img src="./img/logo-gruene-square.svg" alt="" loading="lazy" />
        </div>
      </div>
    </footer>
  </body>
</html>
