/* Styleguide: https://cms.gruene.de/uploads/assets/240228_GRUENE_Styleguide_GrueneType.pdf */
/* Styleguide BTW25: https://design.gruene.de/4ccd94a80/p/75564f-botschaft */
:root {
  --color-white: #fff; /* this color is not part of the official palette */
  --color-tanne: #005538;
  --color-tanne-dark: #002216; /* this color is not part of the official palette */
  --color-klee: #008939;
  --color-klee-light: #68bd4b; /* this color is not part of the official palette */
  --color-grashalm: #8abd24;
  --color-sonne: #fff17a;
  --color-sonne-light: #f5f1e9; /* this color is not part of the official palette */
  --color-himmel: #0ba1dd;
  --color-sand: #f5f1e9;
  --text-bar-size: 1.5rem;

  --color-btw25-green-light: #6CCD87;
  --color-btw25-green-dark: #1A8444;
  --color-btw25-yellow: #FFFF00;
  --color-btw25-magenta: #E6007E;
}

@font-face {
  font-family: "GrueneType";
  src: local(GrueneType),
    url(./fonts/GrueneType/GrueneType-BlackCondensedItalic.woff2) format(woff2),
    url(./fonts/GrueneType/GrueneType-BlackCondensedItalic.woff) format(woff),
    url(./fonts/GrueneType/GrueneType-BlackCondensedItalic.otf) format(otf);
  font-style: italic;
  font-weight: bold;
  font-stretch: condensed;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"), local("PTSans"),
    url(./fonts/PTSans/PTSansRegular.woff2) format(woff2),
    url(./fonts/PTSans/PTSansRegular.woff) format(woff),
    url(./fonts/PTSans/PTSansRegular.otf) format(otf),
    url(./fonts/PTSans/PTSansRegular.ttf) format(ttf);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
/* italic is not part of the style guide */
/* @font-face {
  font-family: "PT Sans";
  src: local("PT Sans"), local("PTSans"),
    url(./fonts/PTSans/PTSansItalic.woff2) format(woff2),
    url(./fonts/PTSans/PTSansItalic.woff) format(woff),
    url(./fonts/PTSans/PTSansItalic.otf) format(otf),
    url(./fonts/PTSans/PTSansItalic.ttf) format(ttf);
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
} */
@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"), local("PTSans"),
    url(./fonts/PTSans/PTSansBold.woff2) format(woff2),
    url(./fonts/PTSans/PTSansBold.woff) format(woff),
    url(./fonts/PTSans/PTSansBold.otf) format(otf),
    url(./fonts/PTSans/PTSansBold.ttf) format(ttf);
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
/* @font-face {
  font-family: "PT Sans";
  src: local("PT Sans"), local("PTSans"),
    url(./fonts/PTSans/PTSansBoldItalic.woff2) format(woff2),
    url(./fonts/PTSans/PTSansBoldItalic.woff) format(woff),
    url(./fonts/PTSans/PTSansBoldItalic.otf) format(otf),
    url(./fonts/PTSans/PTSansBoldItalic.ttf) format(ttf);
  font-weight: bold;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
} */
@font-face {
  font-family: "Gotham";
  src: local("Gotham"),
    url(./fonts/Gotham/GothamXNarrow-Ultra.woff2) format(woff2),
    url(./fonts/Gotham/GothamXNarrow-Ultra.woff) format(woff),
    url(./fonts/Gotham/GothamXNarrow-Ultra.otf) format(otf);
  font-weight: normal;
  font-style: normal;
  font-stretch: condensed;
  font-display: swap;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  font-family: "PT Sans", "Arvo", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  font-size: 18px;
}

body {
  padding: 0;
  margin: 0;
}

nav {
  /* height: 100px; */
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  background-color: var(--color-white);
}

nav > * {
  display: flex;
}

nav .logo {
  height: 100px;
  background-color: var(--color-btw25-green-dark);
  width: 100px;
  justify-content: center;
  align-items: center;
}

nav logo img {
  width: 70%;
  height: 70%;
}

nav .title,
nav .slogan {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: var(--color-tanne-dark);
  text-decoration: none;
  align-items: center;
  text-align: center; /* when the text itself wraps */
  font-size: 2em;
  font-family: Gotham, GrueneType, "PT Sans", Arvo, sans-serif;
  font-stretch: condensed;
  text-transform: uppercase;
}
nav .slogan {
  flex-grow: 1;
}
nav .slogan span {
  margin-left: auto;
  margin-right: auto;
}
nav abbr {
  text-decoration: none; /* maybe mark it with parallelogram */
}

main,
footer {
  padding-top: 4em;
  padding-bottom: 3em;
}

main {
  background-color: var(--color-white);
  padding-top: 0;

  text-align: center;

  hyphens: auto;

  --btn-color-bg: var(--color-btw25-green-dark);
  --btn-color-fg: var(--color-white);
}

main section {
  padding: 1em;
}

main section ~ section {
  margin-top: 2em;
}

main section:nth-child(odd) {
  background-color: var(--color-sonne-light);
}

main .jumbotron {
  height: min(
    70vh,
    100vw
  ); /* 70% of screen height in lg, img aspect ratio (1:1) in sm */
  max-height: 35em;
  background-image: url(./img/paulus-guter.webp);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  background-color: var(--color-white);
}
main .jumbotron-post {
  --text-bar-size: 2.5rem;
  margin-top: -10vh;
  padding: 1em;
  padding-top: 0;
}
@media only screen and (min-width: 1281px) {
  main .jumbotron-post {
    --text-bar-size: 3rem;
    margin-top: max(
      -50vh,
      -20em
    ); /* -70vh + 20vh / -35em + 15em (half of height / max-height of .jumbotron */
    margin-left: 300px; /* px because it's relative to 1280px */
  }
}

.text-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 5em;
  padding-right: 5em;
  max-width: 100vw; /* fix overflow caused by padding */
}
.text-bar-container .shift--5 {
  transform: translateX(max(-5em, -25vw));
}
.text-bar-container .shift--4 {
  transform: translateX(max(-4em, -20vw));
}
.text-bar-container .shift--3 {
  transform: translateX(max(-3em, -15vw));
}
.text-bar-container .shift--2 {
  transform: translateX(max(-2em, -10vw));
}
.text-bar-container .shift--1 {
  transform: translateX(max(-1em, -5vw));
}
.text-bar-container .shift-1 {
  transform: translateX(min(1em, 5vw));
}
.text-bar-container .shift-2 {
  transform: translateX(min(2em, 10vw));
}
.text-bar-container .shift-3 {
  transform: translateX(min(3em, 15vw));
}
.text-bar-container .shift-4 {
  transform: translateX(min(4em, 20vw));
}
.text-bar-container .shift-5 {
  transform: translateX(min(5em, 25vw));
}

.text-bar {
  --text-bar-size-internal: var(--text-bar-size);
  font-size: var(--text-bar-size-internal);
  font-family: GrueneType, "PT Sans", Arvo, sans-serif;
  font-weight: bold;
  font-style: italic;
  font-stretch: condensed;
  text-transform: uppercase;
  /*
  We need an angular of `12deg`.
  The height is `1.6 * var(--text-bar-size-internal)` (100% text + 2 * 30% padding).
  The horizontal offset x is
  tan(12deg) * 1.6 * var(--text-bar-size-internal) = 0.34 * var(--text-bar-size-internal)
  101% is a workaround for a Firefox bug, where a space appears after a text-bar.
  */
  --text-bar-offset: calc(0.34 * var(--text-bar-size-internal));
  clip-path: polygon(
    var(--text-bar-offset) 0,
    100% 0,
    calc(100% - var(--text-bar-offset)) 101%,
    0 101%
  );
  /*
    The space between the text (baseline to cap-height)
    should geometrically (not typographically) be 30% of --text-bar-size-internal.
    We use a hack with line-height and non symmetrical vertical padding to achieve this.
    */
  line-height: var(--text-bar-size-internal);
  padding-top: calc(0.28 * var(--text-bar-size-internal));
  padding-bottom: calc(0.32 * var(--text-bar-size-internal));
  padding-left: calc(
    0.3 * var(--text-bar-size-internal) + 0.5 * var(--text-bar-offset)
  );
  padding-right: calc(
    0.3 * var(--text-bar-size-internal) + 0.5 * var(--text-bar-offset)
  );
  hyphens: manual;
}
small.text-bar {
  --text-bar-size-internal: calc(0.7 * var(--text-bar-size)); /* 70% */
}
a.text-bar:hover,
a.text-bar:focus {
  text-decoration: underline;
}
.text-bar-sand-on-tanne {
  color: var(--color-sand);
  background-color: var(--color-tanne);
}
.text-bar-tanne-on-sand {
  color: var(--color-tanne);
  background-color: var(--color-sand);
}
.text-bar-klee-on-sand {
  color: var(--color-klee);
  background-color: var(--color-sand);
}
.text-bar-sand-on-klee {
  color: var(--color-sand);
  background-color: var(--color-klee);
}
.text-bar-grashalm-on-tanne {
  color: var(--color-grashalm);
  background-color: var(--color-tanne);
}
.text-bar-tanne-on-grashalm {
  color: var(--color-tanne);
  background-color: var(--color-grashalm);
}

main .tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
}

main .tiles .tile {
  width: min(500px, 100%);
  height: 20em;
  background-color: var(--color-btw25-green-light);
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 1em;

  font-weight: normal;

  box-shadow: 0 0 0 #00221688;
  transition: all 0.2s ease-in-out;
}

main .tiles .tile div {
  background-color: var(--color-btw25-green-dark);
  color: var(--color-sand);
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 5em;
  padding-right: 5em;
  font-style: italic;
  clip-path: polygon(1em 0, 100% 0, calc(100% - 1em) 100%, 0 100%);

  font-size: 1.25em;
  text-transform: uppercase;
  font-weight: bold;
}

main .tiles .tile small {
  color: var(--color-sand);
}

main .tiles a.tile:hover {
  box-shadow: 0 0.75em 1em #00221688;
}

/*
main img {
  width: min(100%, 500px);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: -10em;
  box-shadow: 0 0.7em 1em #00221688;
}
*/

main a {
  text-decoration: none;
  color: var(--color-btw25-green-dark);
  font-weight: bold;
}

main strong {
  color: var(--color-btw25-green-dark);
  font-weight: bold;
}

main h1,
main h2,
main h3 {
  color: var(--color-btw25-green-dark);
  font-family: GrueneType, "PT Sans", Arvo, sans-serif;
  font-weight: bold;
  font-style: italic;
  font-stretch: condensed;
}

main ul {
  display: inline-flex;
  flex-direction: column;
  gap: 0.25em;
  align-items: flex-start;
}

main ul li {
  text-align: left;
  max-width: 900px;
  padding-left: 0.5em;
}

main ul li::marker {
  color: var(--color-btw25-green-dark);
  content: ""; /* sunflower */
  font-family: GrueneType;
  font-weight: bold;
  font-style: italic;
  font-stretch: condensed;
}

main blockquote {
  color: var(--color-sand);
  background-color: var(--color-btw25-green-light);
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  position: relative;
  font-size: 1.7em;
}
main blockquote::before {
  content: "„";
  font-weight: bold;
  position: absolute;
  right: 0;
  top: -70px;
  color: var(--color-btw25-green-light);
  font-size: 250px;
  line-height: 0;
  user-select: none;
  z-index: 1;
}
main blockquote > * {
  position: relative;
  z-index: 2;
}
main blockquote strong {
  color: var(--color-btw25-yellow);
}
main blockquote cite {
  color: var(--color-tanne-dark);
}

main ::selection {
  color: var(--color-white);
  background: var(--color-btw25-green-dark);
}

footer {
  background-color: var(--color-tanne-dark);
  color: var(--color-white);
  padding-left: 1em;
  padding-right: 1em;

  --btn-color-bg: var(--color-btw25-green-light);
  --btn-color-fg: var(--color-white);
}

footer .logo {
  width: 4em;
  height: 4em;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

footer h1 {
  text-align: center;
}

footer h1 small {
  color: var(--color-btw25-green-light);
}

footer h1 {
  font-family: Gotham, GrueneType, "PT Sans", Arvo, sans-serif;
  font-stretch: condensed;
  text-transform: uppercase;
}
footer h2,
footer h3 {
  font-family: GrueneType, "PT Sans", Arvo, sans-serif;
  font-weight: bold;
  font-style: italic;
  font-stretch: condensed;
}

#footer-spende #donation-epc-qr-code {
  margin-left: auto;
  margin-right: auto;
  margin-top: -0.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
#footer-spende #donation-epc-qr-code figcaption {
  margin-bottom: 1em;
  font-weight: bold;
}
#footer-spende #donation-epc-qr-code img {
  height: 12em;
}

#footer-spende:hover #donation-epc-qr-code,
#footer-spende:active #donation-epc-qr-code,
#footer-spende:focus #donation-epc-qr-code {
  opacity: 1;
}

.content-wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: minmax(20em, 1280px);
  justify-content: center;
}

.row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.row > *:not(:last-child) {
  margin-right: 1em;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 2em;
}

dl {
  display: inline-grid;
  grid-template-columns: max-content auto;
  grid-template-areas: "dt dd";
  text-align: left;
  align-items: baseline;
}
dl dt {
  font-weight: bold;
  grid-column-start: dt;
}
dl dd {
  grid-column-start: dd;
}
dl dt:not(:first-of-type),
dl dd:not(:first-of-type),
ul li:not(:first-of-type) {
  margin-top: 0.5em;
}

button,
a.btn,
.pbg-container .fff-profile-picture-generator--button {
  cursor: pointer;
  border-color: var(--btn-color-bg);
  border-style: solid;
  border-width: 0.1em;
  border-radius: 0;
  outline-color: var(--btn-color-bg);
  outline-style: solid;
  outline-width: 0;
  outline-offset: 0;
  background: none !important;
  color: var(--btn-color-bg) !important;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 1em;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  appearance: none;
  display: inline-block;
}

button:hover,
a.btn:hover,
.pbg-container .fff-profile-picture-generator--button:hover {
  background: var(--btn-color-bg) !important;
  color: var(--btn-color-fg) !important;
}
button:focus,
a.btn:focus,
.pbg-container .fff-profile-picture-generator--button:focus {
  outline-width: 0.2em;
}

.pbg-container .fff-profile-picture-generator--dropdown-menu {
  margin-top: 5px;
}

.copy-btn {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

*:hover > .copy-btn,
.copy-btn:focus {
  opacity: 1;
}

.btn-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
}

.btn-group > * {
  margin-bottom: 1em;
}

.btn-group > *:not(:last-child) {
  margin-right: 1em;
}

.pbg-container.fff-profile-picture-generator .loading-screen {
  text-align: center;
}

.mt-1 {
  margin-top: 1em;
}
.ml-1 {
  margin-left: 1em;
}
.ml-2 {
  margin-left: 2em;
}
.ml-3 {
  margin-left: 3em;
}
.ml-4 {
  margin-left: 4em;
}
.ml-5 {
  margin-left: 5em;
}
.ml--1 {
  margin-left: -1em;
}
.ml--2 {
  margin-left: -2em;
}
.ml--3 {
  margin-left: -3em;
}
.ml--4 {
  margin-left: -4em;
}
.ml--5 {
  margin-left: -5em;
}
.my-3 {
  margin-top: 3em;
  margin-bottom: 3em;
}
.px-1 {
  padding-left: 1em;
  padding-right: 1em;
}
.px-2 {
  padding-left: 2em;
  padding-right: 2em;
}
.px-3 {
  padding-left: 3em;
  padding-right: 3em;
}

.hidden,
hidden {
  display: none;
}

@media only print {
  .d-print-none {
    display: none !important;
  }
}
@media only screen and (min-width: 1281px) {
  .d-lg-none {
    display: none !important;
  }
}
@media only screen and (max-width: 1280px) {
  :root {
    --text-bar-size: 1.25rem;
  }

  main .tiles {
    flex-direction: column;
    align-items: center;
  }

  #donation-epc-qr-code,
  .copy-btn,
  .d-sm-none {
    display: none !important;
  }

  footer h2,
  footer h3 {
    text-align: center;
  }

  .btn-group,
  .row {
    flex-direction: column;
    align-items: center;
  }
  .btn-group > :not(:last-child),
  .row > :not(:last-child) {
    margin-right: 0;
  }

  dl {
    grid-template-columns: 1fr;
    grid-template-areas:
      "dt"
      "dd";
    grid-template-rows: auto;
    text-align: center;
  }
  dl dd {
    margin-left: unset;
  }
  dl dt,
  dl dd {
    margin-top: 0.5em;
  }
}
