<h1>Profilbildgenerator</h1>

<center>
  <div class="pbg-container"><i>Der Profilbildgenerator lädt...</i></div>
  <noscript>Zum verwenden des Profilbildgenerators wird JavaScript benötigt.</noscript>
</center>

<p>
  <a class="btn" href="https://paulus-guter.de/">Zurück zur Website</a>
</p>

<script
  type="text/javascript"
  src="./profile-picture-generator.js"
  integrity="sha384-26g7geqCMjr1i6cid56u5QUkDmm4Fs3hd+6zUGwkcfdrbSQ6pluSCQq85jga55Eb"
  crossorigin="anonymous"></script>
<script type="application/javascript" defer>
  (function () {
    window.ProfilePictureGenerator({
      container: document.querySelector('.pbg-container'),
      initialLanguage: 'de',
      languages: {
        de: {
          name: 'German',
          uploadButtonTitle: "Eigenes Profilbild generieren",
          downloadButtonTitle: "Profilbild herunterladen",
          imageAltText: "Generiertes Profilbild zum Support von Paulus Guter",
          fileName: "profilbild.png",
          templateUrl: "/pbg/template-plain.svg",
          imagePreview: "/pbg/preview.png",
          privacyLink: "https://paulus-guter.de/datenschutz/",
          privacyNote: "Die ausgewählte Datei wird an keinen Server versendet. Die gesamte Bildgenerierung findet im Browser statt.",
          privacyLinkText: "Datenschutzerklärung"
        },
      },
    });
  })();
</script>
